// utils 먼저 로드 (변수, 믹스인, 함수)
@use 'utils/functions';
@use 'utils/mixins';
@use 'utils/variables';

// base 스타일 (reset 등)
@use 'base/reset';
@use 'base/swiper-bundle.min.css';

.kiosk {
  position: relative;
  width: 2339px;
  height: 1654px;
  overflow: hidden;
  background: #fff;
}

.controls{
  
}
.controls{
  position: absolute;
  bottom: 56px;
  left: 67px;
  right: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  border-top:4px solid #fff;
  padding-top: 30px;
  padding-left: 55px;
  padding-right: 55px;
  button{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 67px;
    height: 67px;
    font-size: 0;
  }
  .btn-group{
    display: flex;
    gap: 10px;
  }
  .btn-prev{
    background-image: url('/img/prev-white.png');
  }
  .btn-next{
    background-image: url('/img/next-white.png');
  }
  .btn-home{
    background-image: url('/img/home-white.png');
  }
  .btn-menu{
    background-image: url('/img/menu-white.png');
  }
}

.page1{
  .controls{
    .btn-prev{
      background-image: url('/img/prev.png');
    }
    .btn-next{
      background-image: url('/img/next.png');
    }
    .btn-home{
      background-image: url('/img/home.png');
    }
    .btn-menu{
      background-image: url('/img/menu.png');
    }
  }
}

.swiper-container{
  width: 2339px;
  height: 1654px;
  order:1;
  overflow: hidden;
  background:#fff;
  &:has(.slide1.swiper-slide-active){
    overflow: visible;
  }
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(3840px * 1.5);
  height: calc(3840px * 1.5);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

@keyframes expandCircle {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
.popup{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  .popup-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
    opacity: 0;
    
    z-index: 2;
    position: relative;
  }
  &.show{
    transition: all 0s ease-in-out;
    z-index: 10000;
    opacity: 1;
    visibility: visible;
    .overlay{
      animation: expandCircle 0.75s ease-out forwards;
    }
    .popup-content{
      transition: all 0.3s 0.75s ease-in-out;
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.btn-close {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10001;
}



.swiper-slide *{
  will-change: auto;
}

.page-inner{

}

.popup-content-inner{
  position: relative;
}
.btn-close{
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  font-size: 0;

}
.btn-move{
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 0;
}
.popup1 {
  .btn-move1{
    top: 100px;
    left: 75px;
    width: 440px
  }
  .btn-move2{
    left: 75px;
    top: 210px;
    width: 560px
  }
  .btn-move3{
    left: 75px;
    top: 326px;
    width: 634px
  }
  .btn-move4{
    left: 75px;
    top: 446px;
    width: 859px;
  }
  .btn-move5{
    left: 75px;
    top: 560px;
    width: 695px;
  }
  .btn-move6{
    left: 75px;
    top: 679px;
    width: 1167px;
  }
  .btn-move7{
    left: 75px;
    top: 792px;
    width: 471px;
  }
}

.page4{
  .slide-content{
    position: relative;
  }
  .btn-move{
    width: 1272px;
    left: 840px;
    height: 116px;
    
  }
  .btn-move1{
    top: 384px;
  }
  .btn-move2{
    top: 516px;
  }
  .btn-move3{
    top: 650px;
  }
  .btn-move4{
    top: 785px;
  }
  .btn-move5{
    top: 917px;
  }
  .btn-move6{
    top: 1050px;
  }
  .btn-move7{
    top: 1183px;
  }
}

.page7{
  position: relative;
  .btn-popup8{
    border-radius: 50%;
    position: absolute;
    top: 1200px;
    left: 1947px;
    width: 155px;
    height: 155px;
  }
}

.page9{
  position: relative;
  .btn-popup10{
    border-radius: 50%;
    position: absolute;
    top: 1009px;
    left: 859px;
    width: 174px;
    height: 174px;
  }
}

.page11{
  position: relative;
  .btn-popup12,
  .btn-popup13,
  .btn-popup14{
    position: absolute;
    width: 440px;
    height: 525px;
  }
  .btn-popup12{
    top: 610px;
    left: 295px;
  }
  .btn-popup13{
    top: 610px;
    left: 915px;
  }
  .btn-popup14{
    top: 610px;
    left: 1540px;
  }
}

.popup12,
.popup13,
.popup14{
  .btn-close{
    right: 57px;
  }
}

.page16{
  position: relative;
  .btn-popup17,
  .btn-popup18,
  .btn-popup19{
    position: absolute;
    width: 440px;
    height: 525px;
  }
  .btn-popup17{
    top: 610px;
    left: 295px;
  }
  .btn-popup18{
    top: 610px;
    left: 915px;
  }
  .btn-popup19{
    top: 610px;
    left: 1540px;
  }
}

.page30{
  position: relative;
  .btn-popup31,
  .btn-popup32{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 2064px
  }
  .btn-popup31{
    top: 823px;
  }
  .btn-popup32{
    top: 1000px;
    
  }
}


.end {
  .controls{
    .btn-next{
      opacity: 0;
      visibility: hidden;
    }
  }
}